/* josefin-sans-300 - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/josefin-sans-v20-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/josefin-sans-v20-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/josefin-sans-v20-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/josefin-sans-v20-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/josefin-sans-v20-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/josefin-sans-v20-latin-300.svg#JosefinSans") format("svg"); /* Legacy iOS */
}
/* josefin-sans-regular - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/josefin-sans-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/josefin-sans-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/josefin-sans-v20-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/josefin-sans-v20-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/josefin-sans-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/josefin-sans-v20-latin-regular.svg#JosefinSans")
      format("svg"); /* Legacy iOS */
}
/* josefin-sans-600 - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/josefin-sans-v20-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/josefin-sans-v20-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/josefin-sans-v20-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/josefin-sans-v20-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/josefin-sans-v20-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/josefin-sans-v20-latin-600.svg#JosefinSans") format("svg"); /* Legacy iOS */
}

$linearPink: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
$dark: #423a3a;
$cream: #ce9898;
$pink: #ee8b8b;
$white: #ffffff;
$logoCircleColor: #d8d8d8;
$logoTextColor: #6d728b;
$reddish: #f96464;

* {
  box-sizing: border-box;
}

html,
body,
div,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

.container {
  width: 375px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "a a a a a a b b b b"
      "a a a a a a b b b b"
      "c c c c c c b b b b"
      "c c c c c c b b b b"
      "c c c c c c b b b b"
      "c c c c c c b b b b";
  }
}

.header {
  display: flex;
  padding-left: 30px;

  &__circle-wrapper {
    color: $logoCircleColor;
    font-size: 48px;
  }

  &__text {
    color: $logoTextColor;
    font-family: "Josefin Sans";
    font-weight: 600;
    word-break: break-all;
    align-self: center;
    padding-left: 10px;
  }

  @media (min-width: 768px) {
    grid-area: a;
    align-self: start;
    padding: 0 0 0 5px;
  }

  @media (min-width: 1024px) {
    padding: 0 0 0 30px;
  }

  @media (min-width: 1440px) {
    padding: 0 0 0 135px;
  }

  @media (min-width: 1920px) {
    padding: 0 0 0 250px;
  }
}

.image-wrapper {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  @media (min-width: 768px) {
    grid-area: b;
    grid-column-end: none;

    & img {
      width: 100%;

      @media (min-width: 1200px) {
        height: 100vh;
      }
    }
  }
}

.coming-soon-section {
  &__title {
    &__first {
      color: $cream;
      font-family: Josefin Sans;
      font-style: normal;
      font-weight: 300;
      font-size: 40px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 10.8254px;
      padding: 32px 32px 0;

      @media (min-width: 768px) {
        font-size: 64px;
        line-height: 64px;
        letter-spacing: 17.3206px;
        text-align: left;
        padding: 0;
      }
    }

    &__second {
      font-family: Josefin Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 10.8254px;
      color: $dark;

      @media (min-width: 768px) {
        font-size: 64px;
        line-height: 71px;
        letter-spacing: 17.3206px;
        text-align: left;
      }
    }
  }

  &__text {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $cream;
    padding: 16px 32px 0;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 28px;
      text-align: left;
      padding: 32px 0;
    }
  }

  &__email {
    &__input {
      border: 2px solid $cream;
      box-sizing: border-box;
      border-radius: 28px;
      margin: auto;
      display: block;
      font-family: Josefin Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 28px;
      color: $dark;
      width: 311px;
      height: 48px;
      background: url(../img/arrow-mobile.svg) no-repeat right -20px top -6px;
      margin: 32px auto;
      padding-left: 30px;

      &::placeholder {
        color: $cream;
        padding: 11px 24px 9px;
      }

      @media (min-width: 768px) {
        font-family: Josefin Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        mix-blend-mode: normal;
        border: 1px solid #ce9898;
        box-sizing: border-box;
        border-radius: 28px;
        background: url(../img/arrow-desktop.svg) no-repeat right -20px top -6px;
        width: 445px;
        height: 56px;

        &:hover {
          background: url(../img/arrow-desktop-hover.svg) no-repeat right -20px top -6px;
          cursor: url(../img/pointer-hand.svg) 4 4, pointer;
        }
      }

      @media (min-width: 768px) {
        margin: 0;
        max-width: 445px;
        width: 100%;
      }
    }

    &__warning {
      text-align: center;
      font-family: Josefin Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 13px;
      color: $reddish;
      display: none;
    }
  }

  @media (min-width: 768px) {
    grid-area: c;
    max-width: 445px;
    justify-self: center;
  }
}
